In [1]:
import pandas as pd
import numpy as np
import time
from src.peblMl import *

In [24]:
%%time
data_start=pd.read_pickle('data/wikiNews.pkl')
data_train=data_start[:3000]
data_test=data_start[3000:3050]
#data_test=data_test[~data_test['topic'].isin(['other'])]
data_train=data_train[~data_train['topic'].isin(['other'])]
print (len(data_test), len(data_train))

50 1160
Wall time: 117 ms

In [25]:
data_train.head()

,Noun,Text,category,topic,date_news
7376,мефодий год жизнь поэт член союз писатель росс...,владимир мефодьевич сегодня из пришло известие...,барнаул алтайский_край некрологи писатели росс...,"россия, некрологи",2005-02-01
1349,россия премьерминистр украина разъяснение вним...,россия заявлениями премьерминистра украины хоч...,россия украина политика вто юрий_ехануров поли...,"россия, украина, политика, европа",2005-11-01
1520,ангел меркель германия германия женщина правит...,ангела меркель канцлер германии германия она п...,ангела_меркель христианско_демократический_сою...,политика,2005-11-01
1527,атака ноябрь страница атака домен машина гугл ...,атака гугл данным компании ноября предпринята ...,google швейцария европа интернет хакерские_ата...,европа,2005-11-01
1531,ограничение технология доставка мкс состояние ...,ограничения закупку космических технологий кос...,космонавтика мкс политика_сша джордж_уокер_буш...,политика,2005-11-01

In [26]:
%%time
modelML=peblMl()
modelML.fit(data_train['Noun'].tolist(), data_train['topic'].tolist())

Wall time: 286 ms

In [28]:
modelML.predict(data_train['Noun'].tolist()[11], 'newTopic')[:10]

политика      0.648028
россия        0.149889
европа        0.114426
футбол        0.020103
спорт         0.018300
некрологи     0.016339
франция       0.010750
астрономия    0.009889
украина       0.008861
праздники     0.003416
dtype: float64

In [31]:
%%time
topicValueResult=pd.DataFrame(columns=['topicName', 'probValue'])
i=0
for testRow in data_test['Noun'].tolist():
    result=modelML.predict(testRow, 'newTopic')[:1]
    topicValueResult=topicValueResult.append({'topicName': result.index[0], 'probValue': result.values[0]}, ignore_index=True)
    if result.index[0]=='newTopic':
        print (result.index[0], result.values[0], data_test['topic'][i])
    i+=1
    #if i%10==0:
    #    print (result.index[0], result.values[0])

newTopic 0.3573541669308139 other
newTopic 0.42140682975025706 other
newTopic 0.3533449851532604 other
newTopic 0.40650890066220624 other
newTopic 0.36603294583682494 other
newTopic 0.2877859826368704 other
newTopic 0.27371812752040375 other
newTopic 0.3903157522375148 other
newTopic 0.31994025228396905 некрологи
newTopic 0.23828364970929924 other
Wall time: 384 ms

In [11]:
topicValueResult.head()

  topicName  probValue
0  политика   0.415808
1  newTopic   0.357354
2  политика   0.303558
3  newTopic   0.421407
4  политика   0.372710

In [32]:
topicValueResult['topicName'].value_counts()

политика    34
newTopic    10
россия       4
европа       2
Name: topicName, dtype: int64

In [34]:
topicValueResult.groupby(['topicName']).sum()

           probValue
topicName
newTopic    3.414692
европа      0.505284
политика   12.797851
россия      0.906963